<hr />

<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://twitter.com/{{site.twitter}}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://github.com/{{site.github}}">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://stackoverflow.com/{{site.stackoverflow}}">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://www.linkedin.com/in/{{site.linkedin}}">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="mailto:{{site.email}}">
                    <i class="fas fa-envelope-square"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>